[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/graaf"]
	path = third_party/graaf
	url = https://github.com/bobluppes/graaf.git
[submodule "third_party/reflect-cpp"]
	path = third_party/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
[submodule "third_party/JoltPhysics"]
	path = third_party/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
